@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap");

:root {
  --bg-color-: rgb(226, 223, 210);
  --bg-color2-: whitesmoke;
  --txt-color-: rgb(0, 0, 0);
  --txt-color3-: #333;
  --txt-color2-: #fff;
  --shadow-: rgb(0, 0, 0, 0.3);
  --bg-color3-: rgb(184, 123, 31);
  --bg-color4-: rgb(194, 151, 250,0.7);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--bg-color-);
  margin: 2rem;
  border-radius: 4px;
}

.header-container .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.header-container .header h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  word-spacing: 1rem;
  text-transform: uppercase;
  background-color: var(--bg-color2-);
  padding: 1rem;
  box-shadow: inset 0 0.25rem 0.5rem var(--shadow-);
}

.header-container .header .githubAt {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: color-mix(in srgb, v, color percentage);
  transform: translate(140%, -75%);
}

.header-container .header .githubAt:hover {
  text-decoration: underline;
  transition: all ease-out 0.4s;
}

.header-container .header .button .btn {
  color: var(--txt-color2-);
  padding: 0.5rem 2rem;
  background-color: var(--bg-color3-);
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
  transition: all ease-out 0.4s;
}

.header-container .header .button .input {
  display: none;
}

.header-container .header .button .btn:hover {
  border: 1px solid var(--bg-color3-);
  background-color: var(--bg-color-);
}

.header-container .header .repositoty-inputBox .btn{
  display: none;
}

.header-container .header .repositoty-inputBox .input{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--txt-color2-);
  padding: 2rem 3rem;
  border-radius: 4px;
  transition: all ease-out 0.4s;
}

.header-container .header .repositoty-inputBox .input div:nth-child(1){
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container .header .repositoty-inputBox .input div:nth-child(1) .btnCreate{
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: var(--bg-color3-);
  padding: 0.75rem 1rem;
  color: var(--txt-color2-);
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  transition: all ease-out 0.4s;
}



.header-container .header .repositoty-inputBox .input div:nth-child(1) .btnCreate:hover{
  background-color: var(--shadow-);
  color: var(--txt-color3-);
}

.header-container .header .repositoty-inputBox .input div:nth-child(1) input{
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid var(--bg-color3-);
  padding: 0.75rem 3rem;
  font-size: 1rem;
  transition: all ease-out 0.4s;
}

.header-container .header .repositoty-inputBox .cancel button{
  border-radius: 4px;
  background-color: var(--txt-color3-);
  padding: 0.5rem 1rem;
  color: var(--txt-color2-);
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: all ease-out 0.4s;
}

.header-container .header .repository-inputBox .cancel button:hover{
  background-color: var(--shadow-);
  color: var(--txt-color3-);
}

/* repos box */

.repos-container .content {
  margin: 2rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.repos-container .content input {
  border-radius: 4px;
  border: 1px solid var(--bg-color3-);
  width: 80vw;
  padding: 0.75rem 3rem;
  font-size: 1rem;
  transition: all ease-out 0.4s;
}

.repos-container .content input:focus,
.repos-container .content input:active {
  border: 1px solid var(--bg-color4-);
  box-shadow: 0.2rem 0.2rem 0.2rem var(--shadow-);
}

.repos-container .content ::placeholder {
  text-align: center;
  color: var(--txt-color3-);
  font-size: 1rem;
  word-spacing: 0.3rem;
  letter-spacing: 0.1rem;
}

.repos-container .repos {
  margin: 2rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

/* .repos-container .content .repos
{
  display: none;
} */

/* .itemInfo .itemInfoContent 
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
}

.itemInfo .itemInfoContent h1
{
  margin: 0 0 0 1rem;
  font-size: 1.5rem;
} */

.repos-container .content .repos .box {
  border-radius: 4px;
  background-color: var(--bg-color4-);
  width: 70vw;
  padding: 0.75rem 0;
  font-size: 1.5rem;
  text-align: center;
  color: var(--txt-color3-);
  cursor: pointer;
  transition: all ease-out 0.4s;
}

.repos-container .content .repos .box #xyz{
  font-weight: 500;
}

.repos-container .content .repos .box p,
.repos-container .content .repos .box button{
  display: none;
}

.itemInfoContent{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  background-color: var(--bg-color-);
  width: 70vw;
  margin: 1rem 0 1rem 0;
  /* transform: scale(1.1); */
  color: var(--txt-color3-);
  cursor: pointer;
  gap: 0.75rem;
  padding: 0.5rem 0;
  transition: all ease-out 0.4s;
}

.itemInfoContent div{
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
}

.itemInfoContent #xyz {
  border-bottom: 2px solid var(--bg-color3-);
  font-size: 1.5rem;
}

.itemInfoContent span{
  font-weight: 700;
}

.itemInfoContent div button {
  border-radius: 4px;
  background-color: var(--txt-color3-);
  width: 100px;
  padding: 0 1rem;
  color: var(--txt-color2-);
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: all ease-out 0.4s;
}

.itemInfoContent button:hover {
  background-color: var(--bg-color3-);
  color: var(--txt-color2-);
}

.repos-container .box:hover {
  background-color: var(--txt-color2-);
  box-shadow: 0.2rem 0.2rem 0.2rem var(--shadow-);
  cursor: pointer;
}

.repos-container .content .paginate{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.repos-container .content .next,
.repos-container .content .prev {
  border-radius: 4px;
  background-color: var(--txt-color3-);
  padding: 0.5rem 2rem;
  color: var(--txt-color2-);
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: all ease-out 0.4s;
}

.repos-container .content .next:hover,
.repos-container .content .prev:hover {
  background-color: var(--shadow-);
  color: var(--txt-color3-);
}

@media (max-width: 900px) {
  * {
    font-size: 60%;
  }
  .header-container {
    margin: 1rem;
  }
  .header-container .header h1 {
    text-align: center;
  }
  .header-container .header .githubAt{
    transform: translate(0);
    font-size: 2rem;
  }
  .repos-container .content .repos .box {
    font-size: 3rem;
    width: 90vw;
    height: 40px;
  }
  .repos-container .content ::placeholder {
    font-size: 1.75rem;
  }
  
.header-container .header .repositoty-inputBox .input div:nth-child(1) input{
  font-size: 1.75rem;
}
.itemInfoContent div p{
  font-size: 1.5rem;
}
.itemInfoContent span{
  font-size: 1.5rem;
}
.itemInfoContent div{
 margin: 0 2.5rem 0 ;
}
.itemInfoContent {
  width: 90vw;
}
.repos-container .content .prev,
.repos-container .content .next {
  font-size: 1.5rem;
}
.header-container .header .repositoty-inputBox .cancel button{
  font-size: 1.5rem;
}
.header-container .header .repositoty-inputBox .input div:nth-child(1) .btnCreate{
  font-size: 1.7rem;
}
.header-container .header .repositoty-inputBox .input{
  padding: 2rem 1rem;
}
.repos-container .content input {
  padding: 1rem 3rem;
  font-size: 1.5rem;
}
.itemInfoContent div button {
  font-size: 1.5rem;
}
.header-container .header .githubAt {
  font-size: 1.5rem;
}
.header-container .header .button .btn {
  color: var(--txt-color2-);
  padding: 0.5rem 1rem;
  font-size: 2rem;
}
}
